{% extends 'layout.twig' %}

{% block body %}
    <div id="images" class="main">
        <div class="row-fluid">
            <div class="span12">
                <h1>Images</h1>

                {% for image in images %}
                    <img src="{{ image.Thumbnail.uri}}" /> <br />
                    {{ image.title}}<br />
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}