{% extends 'layout.twig' %}

{% block title %}
    {{ parent() }} | Code
{% endblock %}

{% block body %}
    <div id="code" class="main">
        <h1>Code</h1>
        <p>Over the years, I realised that the approach I take is far more important than the technology I use. I am always keen to challenge myself and approach problems in a pragmatic way.</p>

        <p>The adoption of proven good practises is far more relevant that the programming language I use. This is reason behind trying to use the right tool for the job, favouring Open Source solutions.</p>

        <p>In my toolbox, I keep principles like <a href="https://en.wikipedia.org/wiki/SOLID_(object-oriented_design)" target="_blank">SOLID</a>, <abbr title="Don't repeat yourself">DRY</abbr> and <abbr title="Keep it simples stupid">KISS</abbr>, but code without tests are pretty much useless. Despite not being an evangelist of <abbr title="Test Driven Development">TDD</abbr>, tests are a fundamental component of my daily work.</p>

        <p>By far, in the PHP world, my framework of choice is <a href="https://www.symfony.com" target="_blank">Symfony</a>, which I have been using since 2007, when version 1.0 was released. In Python, I am using <a href="http://flask.pocoo.org/" target="_blank">Flask</a> and <a href="https://www.djangoproject.com/" target="_blank">Django</a> in a few personal projects.</p>

        <h2>Experiments</h2>
        <p>Whenever possible, I like to try out new technologies on my <a href="{{ path("projects") }}">side projects</a>.</p>

        <p>The more you know, the more there is to learn and investigate. There are many ways of doing things, so sometimes is not easy to make decisions, but I'm always willing to think it through and use data to back up my instinct.</p>

        <p>One day I will master <a href="https://golang.org/" target="_blank">GoLang</a>, but at the moment, I am eagerly taking the first steps.</p>

        <h2>Software</h2>
        <ul>
            <li><strong>Operating system</strong>: Linux Mint</li>
            <li><strong>Programming languages</strong>: PHP 7 and Python 3</li>
            <li><strong>Frameworks</strong>: Silex and Symfony; Flask and Django</li>
            <li><strong>Database</strong>: MySQL, PostgreSQL and SQLite</li>
            <li><strong>IDE</strong>: PHPStorm, PyCharm and vim</li>
            <li><strong>Browser</strong>: Google Chrome and Firefox</li>
            <li><strong>CVS</strong>: Git</li>
            <li><strong>Provisioning</strong>: Ansible</li>
            <li><strong>Containerization</strong>: Docker</li>
            <li><strong>CI/CD</strong>: Jenkins</li>
            <li>Command line and the tools it offers out of the box</li>
        </ul>

        <h2>Resources</h2>
        <ul>
            <li><a href="http://symfony.com/doc/current/index.html" target="_blank">Symfony Docs</a></li>
            <li><a href="https://docs.djangoproject.com/" target="_blank">Django Docs</a></li>
            <li><a href="https://knpuniversity.com/" target="_blank">KNP University</a></li>
            <li><a href="https://www.datacamp.com/" target="_blank">Data Camp</a></li>
            <li><a href="http://net.tutsplus.com/" target="_blank">Envato Tuts</a></li>
            <li><a href="http://sixrevisions.com/" target="_blank">Six Revisions</a></li>
            <li><a href="http://www.1stwebdesigner.com/" target="_blank">1st Web Designer</a></li>
            <li><a href="http://www.osnews.com/" target="_blank">OS News</a></li>
        </ul>
        
        <p>You can download the <a href="{{ asset('/subscriptions.xml.tar.gz') }}">list of RSS feeds</a> that I'm subscribed to and import them on Google Reader.</p>
    </div>
{% endblock %}