{% extends 'layout.twig' %}

{% block menu %}{% endblock %}

{% block body %}
    <div id="home" class="row-fluid">
        <div class="span3">
            <a href="{{ path('profile') }}">
                <div class="content first">
                    <p>Who am I? Get to know me a little better.</p>
                    <span>&lt;Profile /&gt;</span>
                </div>
            </a>
        </div>
        <div class="span3">
            <a href="{{ path('projects') }}">
                <div class="content second">
                    <p>Check out some of my open source projects.</p>
                    <span>&lt;Projects /&gt;</span>
                </div>
            </a>
        </div>
        <div class="span3">
            <a href="{{ path('code') }}">
                <div class="content third">
                    <p>My programming background and motto.</p>
                    <span>&lt;Code /&gt;</span>
                </div>
            </a>
        </div>
        <div class="span3">
            <a href="{{ path('contact') }}">
                <div class="content ninth">
                    <p>Let me know your opinion, get in touch.</p>
                    <span>&lt;Contact /&gt;</span>
                </div>
            </a>
        </div>
    </div>
{% endblock %}
