{% extends 'layout.twig' %}

{% block menu %}{% endblock %}

{% block body %}
    <div id="home" class="row-fluid">
        <div class="span3">
            <div class="content first">
                <p>Who am I? Get to know me a little better.</p>
                <a href="{{ path('profile') }}">&lt;Profile /&gt;</a>
            </div>
        </div>
        <div class="span3">
            <div class="content second">
                <p>Check out some of my open source projects.</p>
                <a href="{{ path('projects') }}">&lt;Projects /&gt;</a>
            </div>
        </div>
        <div class="span3">
            <div class="content third">
                <p>My programming background and motto.</p>
                <a href="{{ path('code') }}">&lt;Code /&gt;</a>
            </div>
        </div>
        <div class="span3">
            <div class="content ninth">
                <p>Let me know your opinion, get in touch.</p>
                <a href="{{ path('contact') }}">&lt;Contact /&gt;</a>
            </div>
        </div>
    </div>
{% endblock %}
