<h1>Tito Miguel Costa @ Contact</h1>

<ul>
    <li><strong>Name:</strong> {{ data.name }}</li>
    <li><strong>E-mail:</strong> {{ data.email }}</li>
    <li><strong>Message:</strong> {{ data.message }}</li>
</ul>

<p>Sent at {{ date() | date('Y-m-d H:i:s')}}</p>