{% extends 'layout.twig' %}

{% block body %}
    <div id="contacts" class="main">
        <h1>Contact</h1>
        <form action="{{ path('contact') }}" method="post">
            {{ form_widget(form) }}

            <input type="submit" name="submit" value="Submit" />
        </form>
    </div>
{% endblock %}