<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Tito Miguel Costa{% endblock %}</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js" type="text/javascript"></script>
        <script src="/js/main.js" type="text/javascript"></script>

        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?3.6.0/build/cssreset/cssreset-min.css&3.6.0/build/cssgrids/cssgrids-min.css&3.6.0/build/cssfonts/cssfonts-min.css" />
        <link href='http://fonts.googleapis.com/css?family=Enriqueta:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
    <body>
        {% block banner %}
        <div id="line" class="yui3-g">
            <div class="yui3-u-1-5 square first"></div>
            <div class="yui3-u-1-5 square second"></div>
            <div class="yui3-u-1-5 square third"></div>
            <div class="yui3-u-1-5 square fourth"></div>
            <div class="yui3-u-1-5 square fifth"></div>
        </div>
        <div id="banner">
        </div>
        {% endblock %}

        <div id="wrapper">
            <div id="contents" class="center">
                <header>
                    <div id="name"><a href="{{ path('homepage') }}"><span class="tags">&lt;</span>titomiguelcosta <span class="tags">/&gt;</span></a></div>
                    <div id="slogan">refactoring ideas</div>
                </header>
                {% block body %}{% endblock %}
            </div>
        </div>

        {% block footer %}
        <div id="footer">
            <footer class="center"><div id="credits">página desenvolvida com o Silex</div></footer>
        </div>
        {% endblock %}
    </body>
</html>
