{% extends 'layout.twig' %}

{% block title %}
    {{ parent() }} | Code
{% endblock %}

{% block body %}
    <div id="code" class="main">
        <h1>Code</h1>
        <p>I'm mainly a PHP programmer with good JavaScript skills. I am always keen to approach challenges in a pragmatic way.</p>
        <p>I concentrate my design efforts with the latest and best technical practices in mind, making use of only open source tools.</p>
        <p>I'm used to programming using <abbr title="Don't repeat yourself">DRY</abbr> and <abbr title="Keep it simples stupid">KISS</abbr> principles on a daily basis.</p>
        <p>By far, my favorite framework is <a href="http://www.symfony.com" target="_blank">Symfony</a> which I have been using since 2007, when version 1.0 was newly released</p>
        <p>Currently, my new projects are implemented in <a href="http://www.symfony.com" target="_blank">Symfony2</a>, using <a href="http://packages.zendframework.com/" target="_blank">Zend2 packages</a> when needed. Maintanance of older projects require me to continue using symfony 1.</p>

        <p>You can check my code on GitHub:</p>
        <ul>
            <li>For symfony1
                <ul>
                <li>the development of a theme for symfony generator admin making use of Twitter Bootstrap;</li>
                <li>a plugin to support database backend for translation are the two most significant plugins released open source.</li>
                </ul>
            </li>
            <li>For Symfony2
                <ul>
                <li>under the code name Zorbus, integrated with Sonata Admin, I have developed a content management system, more than ten bundles that respond to the main needs of web sites, making it easier to maintain;</li>
                <li>there are bundles to generate FAQs, Glossaries, Articles, Banners, Pages, Links, etc;</li>
                </ul>
            </li>
        </ul>

        <h2>Studies</h2>
        <p>Whenever possible, I like to try out new technologies. Still looking for a change to try <a href="http://angularjs.org/" target="_blank">Angular JS</a> and <a href="http://behat.org/" target="_blank">BeHat</a>. This website is a good example, developed with <a href="http://silex.sensiolabs.org/" target="_blank">Silex</a>, using <a href="http://packages.zendframework.com/" target="_blank">Zend packages</a> for generating pdf, a SOAP webservice and integrating with mulitple services. The code is released open source, available on GitHub, feel free to <a href="https://github.com/titomiguelcosta/myPersonalWebsite" target="_blank">take a look</a> and report issues.</p>
        <p>The more you know, the more there is to learn and investigate. There is more than one way of doing things, so sometimes is not easy to make decisions, but I'm always willing to think it through and utilize the best technical solution..</p>
        <p>One day I will nail Python, but at the moment, I am eagerly taking the first steps.</p>

        <h2>Some of the software I couldn't live without:</h2>
        <ul>
            <li>Linux - for a long time, Fedora is my favorite distro. Gave a go with Ubuntu, OpenSuse and more recently Mint, but always get back to Fedora.</li>
            <li>Programming language: PHP - version 5.4 is just awesome, built in server and efficient console are my best friends</li>
            <li>Database: MySQL and SQLite</li>
            <li>IDE: NetBeans</li>
            <li>Browser: Google Chrome and Firefox</li>
            <li>CVS: Git</li>
            <li>Command line and all the tools it offers out of the box</li>
        </ul>

        <h2>Some of the websites that interest me are:</h2>
        <ul>
            <li><a href="http://symfony.com" target="_blank">http://symfony.com</a></li>
            <li><a href="http://www.doctrine-project.org/" target="_blank">http://www.doctrine-project.org/</a></li>
            <li><a href="http://twig.sensiolabs.org/" target="_blank">http://twig.sensiolabs.org/</a></li>
            <li><a href="http://net.tutsplus.com/" target="_blank">http://net.tutsplus.com/</a></li>
            <li><a href="http://sixrevisions.com/" target="_blank">http://sixrevisions.com/</a></li>
            <li><a href="http://www.1stwebdesigner.com/" target="_blank">http://www.1stwebdesigner.com/</a></li>
            <li><a href="http://www.osnews.com/" target="_blank">http://www.osnews.com/</a></li>
            <li><a href="http://twitter.github.com/bootstrap/" target="_blank">http://twitter.github.com/bootstrap/</a></li>
        </ul>
        
        <p>You can download the <a href="{{ app.request.basePath }}/subscriptions.xml.tar.gz">list of RSS feeds</a> that I'm subscribed to and import them on Google Reader.</p>
        
        <p>Check out <a href="{{ path('blog_list') }}">my blog</a> and get to know what I'm up to.</p>
    </div>
{% endblock %}