{% extends 'layout.twig' %}

{% block body %}
    <div id="profile" class="main">
        <div class="yui3-g">
            <div class="yui3-u-2-3">
                <h1>Links</h1>
                <p>My name is Tito Miguel Costa and I'm a certified PHP web developer.</p>

                <h2>Studies</h2>
                <p>Back in 2007, I took my degree in Science and Computer Technology at the University of Azores.</p>
                <p>In 2011 took the first year of Master in Multimedia at the University of Oporto.</p>

                <h2>Background</h2>
                <p>My passion has always been the development of web sites using the most modern pattern and technolgies of the Open Source world.</p>
                <p>After having a go with several framework, Symfony has been my choice for the last couple of years, using Zend components when needed.</p>

                <h2>Experience</h2>
                <p></p>
            </div>
            <div class="yui3-u-1-3">
                <h1>Photos</h1>
            </div>
        </div>
    </div>
{% endblock %}