{% extends 'layout.twig' %}

{% block title %}
    {{ parent() }} | Programming
{% endblock %}

{% block body %}
    <div id="programming" class="main">
        <h1>Programming</h1>
        <p>I'm mainly a PHP programmer, with JavaScript skills.</p>
        <p>I put afford in designing with the best praticses in mind, making use of only open source tools out there.</p>
        <p>Principles are <abbr title="Don't repeat yourself">DRY</abbr>, <abbr title="Keep it simples stupid">KISS</abbr> are in the order of my day.</p>
        <p>By far, my favorite framework is Symfony. Using it since end of 2007, at that time version 1.0 has been released not long ago.</p>
        <p>At the moment, new projects are implemented in Symfony2, using Zend2 components when needed. Maintability of older projects require me to continue using symfony 1.</p>

        <p>You can check my code on GitHub:</p>
        <ul>
            <li>For symfony1
                <ul>
                <li>the development of a theme for symfony generator admin making use of Twitter Bootstrap;</li>
                <li>a plugin to support database backend for tranlation are the two most significant plugins released open source.</li>
                </ul>
            </li>
            <li>For Symfony2
                <ul>
                <li>under the code name Zorbus, integrated with Sonata Admin, i have developed a content managment system, more than 10 bundles that respond to the main needs of web site, making it ease to maintain;</li>
                <li>There are bundles to generate FAQs, Glossaries, Articles, Banners, Pages, Links, etc;</li>
                </ul>
            </li>
        </ul>

        <h2>Studies</h2>
        <p>Whenever possible, I like to give a go to new technologies. Still looking for a change to try Angular JS and BeHat. This website is a good example, developed with Silex, usign XML and SQLite.</p>
        <p>More you know, more there is to learn and investigate. There is more than one way of doing things, so sometimes is not easy to make decisions, but i'm always willing to give it a go.</p>
        <p>One day I will nail Python, but at the moment, just taking the first steps.</p>

        <h2>Some of the software I couldn't live without:</h2>
        <ul>
            <li>Linux - for a long time, Fedora is my favorite distro. Gave a go with Ubuntu, OpenSuse and more recently Mint, but always get back to Fedora.</li>
            <li>Programming language: PHP - version 5.4 is just awesome, built in server and efficient console are my best friends</li>
            <li>Database: MySQL and SQLite</li>
            <li>IDE: NetBeans</li>
            <li>Browser: Google Chrome and Firefox</li>
            <li>CVS: Git</li>
            <li>Command line and all the tools it offers out of the box</li>
        </ul>


        <h2>A few of the websites in my bookmark where i spend infinite amount of hours</h2>
        <ul>
            <li>http://symfony.com</li>
            <li>http://www.doctrine-project.org/</li>
            <li>http://twig.sensiolabs.org/</li>
            <li>http://net.tutsplus.com/</li>
            <li>http://sixrevisions.com/</li>
            <li>http://www.1stwebdesigner.com/</li>
            <li>http://www.osnews.com/</li>
            <li>http://twitter.github.com/bootstrap/</li>
            <li>http://www.ted.com/</li>
        </ul>

        <p>Check my blog and get to know what i'm up to.</p>
    </div>
{% endblock %}