html, body {
    background-color: #c6c6c6;
    color: #666;
}
header a:link, header a:visited {
    color: #1391CC;
}
header #slogan {
    color: #777;
}
#home .content:hover {
    color: #fff;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
}
.main {
    background-color: #c6c6c6;
    border: 5px solid #C0C0C0;
}
/*#home .content.first:hover, #home .content.ninth:hover {
    border: 5px solid #BD6C54;
}
#home .content.second:hover, #home .content.eighth:hover {
    border: 5px solid #E59167;
}
#home .content.third:hover, #home .content.seventh:hover {
    border: 5px solid #F5CA7F;
}
#home .content.fourth:hover, #home .content.sixth:hover {
    border: 5px solid #DEAC68;
}
#home .content.fifth:hover {
    border: 5px solid #BD6C54;
}
*/
.first, .ninth, fifth {
    background-color: #4A3259;
    color: #4A3259;
}
.second, .eighth, .fourth, .sixth {
    background-color: #8C6181;
    color: #8C6181;
}
.third, .seventh, .fifth {
    background-color: #BF8A8A;
    color: #BF8A8A;
}
/*.fourth, .sixth {
    background-color: #D9B19A;
    color: #D9B19A;
}
.fifth {
    background-color: #F2D8A7;
    color: #F2D8A7;
}*/