html, body {
    background-color: #c6c6c6;
    color: #666;
}
header a:link, header a:visited {
    color: #8C6181;
}
header a:hover, header a:active {
    color: #4A3259;
}
header #slogan {
    color: #888;
}
#home .content:hover {
    color: #fff;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
}
#home a:link, #home a:visited {
    color: #e3e3e3;
}
#home a:hover, #home a:active {
    color: #fff;
}
.main {
    background-color: #c6c6c6;
    border: 7px solid #C0C0C0;
    padding: 5px 15px;
}
/*#home .content.first:hover, #home .content.ninth:hover {
    border: 5px solid #BD6C54;
}
#home .content.second:hover, #home .content.eighth:hover {
    border: 5px solid #E59167;
}
#home .content.third:hover, #home .content.seventh:hover {
    border: 5px solid #F5CA7F;
}
#home .content.fourth:hover, #home .content.sixth:hover {
    border: 5px solid #DEAC68;
}
#home .content.fifth:hover {
    border: 5px solid #BD6C54;
}
*/
.first, .ninth, #menu li.first a:hover, #menu li.first a:active, #menu li.first.active a:link, #menu li.first.active a:visited {
    background-color: #4A3259;
    color: #4A3259;
}
.second, .eighth, .fourth, .sixth, #menu li.second a:hover, #menu li.second a:active, #menu li.second.active a:link, #menu li.second.active a:visited {
    background-color: #8C6181;
    color: #8C6181;
}
.third, .seventh, .fifth, #menu li.third a:hover, #menu li.third a:active, #menu li.third.active a:link, #menu li.third.active a:visited {
    background-color: #BF8A8A;
    color: #BF8A8A;
}
h1 {
    color: #4A3259;
}
h2 {
    color: #8C6181;
}
/*.fourth, .sixth {
    background-color: #D9B19A;
    color: #D9B19A;
}
.fifth {
    background-color: #F2D8A7;
    color: #F2D8A7;
}*/