html, body {
    font-family: 'Enriqueta', sans-serif;
    font-size: 15px;
}
#banner {
    height: 15px;
    width: 100%;
}
header {
    margin: 5px 0 12px;
}
header img {
    margin: 0 10px;
}
header #name {
    font-size: 28px;
    font-weight: bold;
    margin: 15px 0 12px 0;
}
header a:link, header a:visited {
    text-decoration: none;
}
header a:hover, header a:active {
    color: #777;
}
header #slogan {
    font-size: 16px;
    margin-top: 5px;
    font-weight: normal;
}
#footer {
    width: 100%;
    margin-top: 8px;
    font-size: 12px;
    padding-bottom: 10px;
}
#footer img {
    padding: 5px;
}
#footer a {
    display: inline-block;
    margin-right: 1px;
}
#footer a:hover {
    background-color: #C0C0C0;
}
footer {
    text-align: left;
}
footer #credits {
    margin: 5px 0 0 !important;
}
.center {
    margin:auto;
}
#wrapper {
    background-color: #ccc;
    padding: 8px 0;
}
/** HOME **/
#home .content {
    height: 187px;
    font-size: 30px;
    text-align: right;
    padding: 0 10px;
    position: relative;
    /*    border: 5px solid transparent;*/
    background-image: none;
}
#home .content span {
    text-decoration: none;
    position: absolute;
    bottom: 16px;
    right: 20px;
    line-height: 30px;
    height: 30px;
}
#home a:link, #home a:visited {
    text-decoration: none;
}
#home .content:hover {
    background-image: url('../images/caixa_bg.png');
    background-repeat: no-repeat;
    background-position: top center;
}
#home .content p {
    font-size: 16px;
    text-align: left;
    padding: 15px 0;
}
.main {
    min-height: 230px;
}
/** Line */
#line .square {
    height: 5px;
    width: 20%;
    float: left;
}
h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
}
h2 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
}
h3 {
    font-size: 16px;
    margin-bottom: 0;
}
#menu {
    padding: 5px 5px 0 0;
    margin: 0;
    height: 75px;
    text-align: right;
}
#menu ul {
    margin: 0;
    line-height: 65px;
}
#menu li {
    display: inline-block;
    margin: 5px 0 0;
}
#menu a:link, #menu a:visited {
    text-transform: none;
    font-size: 14px;
    display: inline-block;
    padding: 8px 8px 8px 9px;
    color: #666;
}
#menu li {
    background-color: #c0c0c0;
}
#menu li.active a:link, #menu li.active a:visited {
    color: #fff !important;
}
#menu a:hover, #menu a:active {
    color: #eee !important;
}
dl {
    margin: 5px 0;
}
dl dd {
    margin-top: 3px;
    margin-bottom: 12px;
}
dl dt a {
    font-size: 15px;
}
ul.unstyled li {
    margin-top: 7px;
}
a:hover, a:active {
    text-decoration: none;
}
#images .box img {
    border: 2px solid #ddd;
    margin: 5px 0;
}
#images #container {
    text-align: center;
    margin: 0 auto;
}
#blog .prettyprint {
    margin-bottom: 10px;
}
hr {
    background-color: #ccc;
    color: #ccc;
    border: 1px solid #ccc;
    margin: 12px 0 0;
}
.pagination {
    margin: 7px 0;
}
.pagination ul > li > a.disabled {
    color: #777;
}
.pagination ul > li > a:link, .pagination ul > li > a:visited {
    background-color: #d0d0d0;
    border: 1px solid #c0c0c0;
}
.pagination ul > li > a:hover,.pagination ul > li > a:active {
    background-color: #d9d9d9;
    border: 1px solid #c0c0c0;
}
.span3 {
    margin-bottom: 5px;
}
p {
    line-height: 25px;
}
@media (min-width: 1000px) {
    .span3 .content.first {
        margin-right: -10px !important;
    }
    .span3 .content.second, .span3 .content.third {
        margin-right: -10px !important;
        margin-left: -10px !important;
    }
    .span3 .content.ninth {
        margin-left: -10px !important;
    }
}