<?php

const FLICKR_KEY = 'FLICKR_KEY';
const FLICKR_SECRET = 'FLICKR_SECRET';

const YOUTUBE_DEVELOPER_KEY = 'YOUTUBE_DEVELOPER_KEY';
const YOUTUBE_TOKEN = 'YOUTUBE_TOKEN';

CONST EMAIL_USERNAME = "";
CONST EMAIL_PASSWORD = "";
CONST EMAIL_HOST = "";
CONST EMAIL_PORT = "";
CONST EMAIL_ENCRYPTION = "";

const DEBUG = false;

define('PROJECT_ROOT', realpath(__DIR__.'/..'));
