<?php

const FLICKR_KEY = 'FLICKR_KEY';
const FLICKR_SECRET = 'FLICKR_SECRET';

const YOUTUBE_DEVELOPER_KEY = 'YOUTUBE_DEVELOPER_KEY';
const YOUTUBE_TOKEN = 'YOUTUBE_TOKEN';

CONST EMAIL_PASSWORD = "EMAIL_PASSWORD";

const DEBUG = false;

define('PROJECT_ROOT', realpath(__DIR__.'/..'));
